@import "defaults"

// FONTS

@font-face
  font-family: 'Agipo';
  src: url('../fonts/agipo/agipo.eot')
  src: url('../fonts/agipo/agipo.eot?iefix') format('eot'), url('../fonts/agipo/agipo.woff') format('woff'), url('../fonts/agipo/agipo.ttf') format('truetype'), url('../fonts/agipo/agipo.svg#webfonthOIcM5wm') format('svg')
  font-weight: 400
  font-style: normal

// GENERAL

html, body
  height: 100%
  width: 100%

body
  -webkit-font-smoothing antialiased
  font-family "Agipo", sans-serif
  background white
  margin 0 auto

.container
  position absolute
  height 100%
  width 100%
  top 0
  left 0
  overflow hidden


// TYPOGRAPHY

// FUNCTIONAL CLASSES

.hidden
  display none !important

.center
  text-align center

.inline
  display inline

.right
  text-align right

.left
  float left

.clearfix
  clear both

// COLUMNS

.cols
  font-size 0

  .col
    vertical-align top
    display inline-block

  .col-100
    width 100%

  .col-50
    width 50%

  .col-60
    width 60%

  .col-40
    width 40%

  .col-33
    width 33.3334%

// ROWS

// .rows
//   font-size 0
//   height 100%

//   .row
//     vertical-align middle
//     display inline-block

// BUTTONS
