@import "mixins"

header
  width 100%
  padding 30px 40px

  h1
    width 280px
    font-weight normal
    display inline-block
    font-size 36px

    &.logo
      a:hover
        border none

    a
      color $dark
      cursor pointer

      &:hover
        border-bottom 4px $dark solid

@media $media-mobile
  header
    padding 20px 20px

    h1
      width 220px
      font-size 24px
      line-height 30px