@import "mixins"

header
  width 100%
  padding 30px 40px

  h1
    width 280px
    font-weight normal
    display inline-block
    font-size 30px
    line-height 36px

    a
      color: $dark

      &:hover
        border-bottom 4px $dark solid