.previews
  .preview
    height 200px
    background-size contain
    background-position center center
    background-repeat no-repeat
    width 100%
    position absolute
    top 50%
    margin -100px 0 0 0
