@import "mixins"

nav.menu
  position absolute
  top 0
  left 30px
  font-size 27px
  line-height 36px
  height 100%
  z-index 1

  ol
    display table
    table-layout fixed
    padding 110px 0 0 10px
    height 100%

    li
      display table-row

      div
        display table-cell
        vertical-align: middle

        a
          color $dark
          display block
          cursor pointer

          span
            display inline-block

            &.name
              display none

          &:hover
            span
              &.name
               display inline

              &.number
               display none


