@import "mixins"

nav.menu
  position absolute
  top 0
  left 30px
  font-size 27px
  line-height 36px
  z-index: 1
  height 100%

  ol
    display table
    table-layout fixed
    padding: 110px 0 0px
    height 100%

    li
      display: table-row

      div
        display: table-cell
        vertical-align: middle

        a
          color $dark
          padding: 10px
          display block
          cursor pointer

          span
            &.name
              display: none

          &:hover
            span
              &.name
               display: inline

              &.number
               display: none


