@import "mixins"

@-webkit-keyframes fadeIn
  from
    -webkit-transform scale(0.9) translateY(-20px)
    opacity: 0
  to
    -webkit-transform scale(1) translateY(0)
    opacity: 1

@-moz-keyframes fadeIn
  from
    -moz-transform scale(0.9) translateY(-20px)
    opacity: 0
  to
    -moz-transform scale(1) translateY(0)
    opacity: 1

nav.menu
  position absolute
  top 0
  left 30px
  font-size 27px
  line-height 36px
  height 100%
  z-index 1

  .rows
    display table
    table-layout fixed
    padding 110px 0 0 10px
    height 100%

    .menu-item
      display table-row
      opacity: 0

      &.animation
        opacity 1
        animation fadeIn 300ms ease
        animation-fill-mode both
        animation-delay 1000ms

      div
        display table-cell
        vertical-align: middle

        a
          color $dark
          display block
          cursor pointer

          span
            display inline-block

            &.name
              display none

          &:hover
            span
              &.name
               display inline

              &.number
               display none


