header
  z-index: 1


.slider
  position relative
  top 0
  left 0
  height 100%
  width 100%
  margin-top -96px

  .slide
    position: absolute
    top 0
    height 100%
    width 100%
    text-align center
    padding 5%
    box-sizing: border-box

    img
      height 100%

