@media $media-tablet-portrait
  body
    .sl-index-deck
      width 700px
      -webkit-column-width: 330px !important
      -moz-column-width: 330px !important
      column-width: 330px !important

@media $media-full-width
  body
    .sl-index-deck
      width 100%
      column-count 2

@media $media-mobile
  body
    .sl-lightbox-caption-container
      font-size 24px
      line-height 30px

      .left
        left 20px

    .sl-index-deck
      column-count 1

    .sl-lightbox-caption-container .left
    .sl-lightbox-caption-container .right
      top 20px

